/* styles.css */

:root {
    --bg-color: #f4f4f9;
    --container-bg-color: #fff;
    --text-color: #333;
    --primary-color: #4574a2;
    --primary-color-hover: #0056b3;
    --border-color: #ddd;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --font-family: 'Arial', sans-serif;
}

.nav-links {
    display: flex;
    margin: 10px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.display-container {
    display: flex;
    align-items: normal;
    justify-content: center;
    margin-top: 20px;
}

.title-text {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    margin: auto;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    display: flex;
}

.user-data {
    margin: 10px;
    overflow-y: auto;
    width: 90%;
    max-width: 800px;
    max-height: 800px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--container-bg-color);
    box-shadow: var(--box-shadow);
    display: flex;
}

.pool-data-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.pool-data-wrapper {
    padding: 10px;
}

.pool-data-wrapper > table {
    margin: 5px auto;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}

.pool-item-label {
    font-weight: bold;
    text-align: left;
    padding: 5px;
    margin: 5px;
}

.pool-item-value {
    text-align: right;
}

.pool-link {
    font-weight: bold;
    cursor: pointer;
}

.pool-links-container {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.pool-link-icon {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

.pool-link-icon:hover {
    scale: 1.02;
}

.pool-address {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.meteora-icon {
    background: #b20d0d;
}
.birdeye-icon {
    background: #c0741b;
}
.jupiter-icon {
    background: #67a940;
}
.solscan-icon {
    background: #61d5d3;
}

.container {
    margin: 10px;
    overflow-y: auto;
    width: 90%;
    max-width: 800px;
    max-height: 1200px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--container-bg-color);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
}

.small-label {
    font-size: 0.8em;
}

.constrained-label {
    font-size: 0.8em;
    max-width: 200px;
    word-wrap: break-word;
}

#pool-health-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--container-bg-color);
    box-shadow: var(--box-shadow);
}


.input {
    width: 100%;
    max-width: 400px;
    padding: 4px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.small-input {
    margin: 5px;
    max-width: 75px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: var(--primary-color-hover);
}

.checkbox {
    margin-top: 10px;
}

.info-box {
    width: 100%;
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
    margin: 20px 0;
}

.estimated-container {
    font-size: 20px;
    margin-top: 20px;
}

.dropdown-content {
    max-height: 300px;
    max-width: 400px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: calc(100% - 40px);
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content.show {
    display: block;
}

.refresh-button {
    width: 75px;
    float: right;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

/* Notification container */
#notification-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/* Notification wrapper */
.notification-wrapper {
    position: relative;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 15px;
    width: 300px; /* Set a fixed width */
    overflow: hidden;
    transition: right 0.5s ease-in-out; /* Slide animation */
}

/* Notification types */
.notification-error {
    border-color: #e74c3c;
}

.notification-warning {
    border-color: #f39c12;
}

.notification-info {
    border-color: #3498db;
}

.notification-success {
    border-color: #2ecc71;
}

/* Notification title */
.notification-wrapper h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

/* Notification message */
.notification-wrapper p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #9d9d9d;
}

/* Notification footer */
.notification-wrapper footer {
    position: absolute;
    bottom: 5px;
    left: 15px;
    font-size: 10px;
    color: #999;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack containers vertically */
        width: 100%; /* Make containers take the full width */
    }

    .user-data,
    .display-container,
    .pool-data-wrapper {
        flex-direction: column;
        width: 100%;
        max-width: 100%; /* Ensure it takes full available width */
    }

    .pool-link-icon {
        display: block; /* Stack icons vertically */
        margin: 10px 0;
    }
}


/*.info-box {*/
/*    max-height: 0;*/
/*    width: 100%;*/
/*    border-top: 1px solid var(--border-color);*/
/*    padding-top: 20px;*/
/*    margin: 20px 0;*/
/*    overflow-y: auto;*/
/*    transition: max-height 0.5s;*/
/*}*/

/*.info-box.show {*/
/*    max-height: 300px;*/
/*}*/
